<div class="content">
    <div class="title-col">
        <div cell-Q=[-q-ct] class=" ">
            <div class="text">
                <p cell-p=[-b5] cell-f=[-s25-w7-c2-f5] cell-ts=[-br5] cell-t=[-c]>cell-if
                </p>
            </div>
        </div>
    </div>
    <div class="title-content">
        <div cell-Q=[-q] class="event">
            <div cell-c=[-c20] cell-f=[-s12-w9] class="values">
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>
                </p>
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s20-w7]>For If Condition</span></p>
                        <p><span cell-f=[-c2-s16-w7]>Declare variable in js file of assets/js folder</span></p>
                        <p>attribute for parent element<span cell-f=[-c2-s16-w7]>cell-if</span>=[-if0]</p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>cond_0</span>="condition here"</p>
                        <p>attribute for sub-child element <span cell-f=[-c2-s16-w7]>cond_1</span>="condition here"</p>
                        <p>attribute for sup-child element <span cell-f=[-c2-s16-w7]>cond_2</span>="condition here"</p>
                        <p>attribute for macro-child element <span cell-f=[-c2-s16-w7]>cond_3</span>="condition here"
                        </p>
                        <p>attribute for micro-child element <span cell-f=[-c2-s16-w7]>cond_4</span>="condition here"
                        </p>

                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_0</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_1</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_2</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_3</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_4</span></p>
                    </div>
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s20-w7]>For If Condition On Click</span></p>
                        <p><span cell-f=[-c2-s16-w7]>Declare variable in js file of assets/js folder</span></p>
                        <p>attribute for button<span cell-f=[-c2-s16-w7]>cell-if</span>=[-ce0]</p>
                        <p>attribute for parent element<span cell-f=[-c2-s16-w7]>cell-if</span>=[-ca0]</p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>cond_0</span>="condition here"</p>
                        <p>attribute for sub-child element <span cell-f=[-c2-s16-w7]>cond_1</span>="condition here"</p>
                        <p>attribute for sup-child element <span cell-f=[-c2-s16-w7]>cond_2</span>="condition here"</p>
                        <p>attribute for macro-child element <span cell-f=[-c2-s16-w7]>cond_3</span>="condition here"
                        </p>
                        <p>attribute for micro-child element <span cell-f=[-c2-s16-w7]>cond_4</span>="condition here"
                        </p>

                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_0</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_1</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_2</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_3</span></p>
                        <p>attribute for child element <span cell-f=[-c2-s16-w7]>else_4</span></p>
                    </div>
                </div>
            </div>

            <div cell-c=[-do-l20-t20-m20-s20] class="result">
                <div cell-Q=[-q-ct] class="append-col"></div>
                <h1><u>If Condition</u></h1>
                <h2>If Condition With Nested Looping</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if1:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a < 1 && b < 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a==4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if1:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a < 1 && b < 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a==4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if2:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a > 5 && b > 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if2:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a > 5 && b > 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if3:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2!=0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if3:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2!=0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if4:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if4:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if5:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a==4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-if5:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a==4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h1><u>If Condition On Click</u></h1>
                <h2>If Condition With Nested Looping On Click</h2>
                <button class="btn cond-btn" cell-if=[-ce1:]>Click</button>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca1:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a < 1 && b < 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a==4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca1:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a < 1 && b < 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a==4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <button class="btn cond-btn" cell-if=[-ce2:]>Click</button>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca2:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a > 5 && b > 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca2:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a > 5 && b > 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <button class="btn cond-btn" cell-if=[-ce3:]>Click</button>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca3:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2!=0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca3:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2!=0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <button class="btn cond-btn" cell-if=[-ce4:]>Click</button>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca4:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a!=4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca4:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a!=4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>If Condition With Nested Looping</h2>
                <button class="btn cond-btn" cell-if=[-ce5:]>Click</button>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca5:]>
                    <div class="" cond_0="a==b">
                        <p>This Is Nested If0</p>
                        <div class="" cond_1="a > 1 && b > 1">
                            <p>This Is Nested If1</p>
                            <div class="" cond_2="a < 5 && b < 5">
                                <p>This Is Nested If2</p>
                                <div class="" cond_3="(a+b)%2==0">
                                    <p>This Is Nested If3</p>
                                    <div class="" cond_4="a==4">
                                        <p>This Is Nested If4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" else_0>Else-0</div>
                    <div class="" else_1>Else-1</div>
                    <div class="" else_2>Else-2</div>
                    <div class="" else_3>Else-3</div>
                    <div class="" else_4>Else-4</div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-if=[-ca5:]>
                                <div class="" cond_0="a==b">
                                    <p>This Is Nested If0</p>
                                    <div class="" cond_1="a > 1 && b > 1">
                                        <p>This Is Nested If1</p>
                                        <div class="" cond_2="a < 5 && b < 5">
                                            <p>This Is Nested If2</p>
                                            <div class="" cond_3="(a+b)%2==0">
                                                <p>This Is Nested If3</p>
                                                <div class="" cond_4="a==4">
                                                    <p>This Is Nested If4</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="" else_0>Else-0</div>
                                <div class="" else_1>Else-1</div>
                                <div class="" else_2>Else-2</div>
                                <div class="" else_3>Else-3</div>
                                <div class="" else_4>Else-4</div>
                            </div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
