<div class="content">
    <div class="title-col">
        <div cell-Q=[-q-ct] class=" ">
            <div class="text">
                <p cell-p=[-b5] cell-f=[-s25-w7-c2-f5] cell-ts=[-br5] cell-t=[-c]>Two-Way
                </p>
            </div>
        </div>
    </div>
    <div class="title-content">
        <div cell-Q=[-q] class="event">
            <div cell-c=[-c20] cell-f=[-s12-w9] class="values">
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>For Two Way Binding
                </p>
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s16-w7]>Declare variable in js file of assets/js folder</span></p>

                        <p>attribute for input <span cell-f=[-c2-s16-w7]>cell-tw</span>=[-tw0] </p>
                        <p>attribute for element to display input text <span cell-f=[-c2-s16-w7]>cell-tw</span>=[-tb0] </p>
                         
                        <p>attribute for input <span cell-f=[-c2-s16-w7]>tway</span>="variable" </p>
                        <p>attribute for element to display input text <span cell-f=[-c2-s16-w7]>innerText</span>="variable" </p>

                        <p>attribute for input <span cell-f=[-c2-s16-w7]>tway</span>="variable" </p>
                        <p>attribute for element to display input text <span cell-f=[-c2-s16-w7]>innerText</span>="variable" </p>
                    </div>
                </div>
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>For Two Way Filter
                </p>
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s20-w7]>Filter For Array</span></p>
                        <p><span cell-f=[-c2-s16-w7]>Declare variable & Array in js file of assets/js folder</span></p>

                        <p>attributes for input <span cell-f=[-c2-s16-w7]>filter</span>="variable" & <span cell-f=[-c2-s16-w7]>filtype</span>="arr"</p>
                        <p>attribute for element to display filter data <span cell-f=[-c2-s16-w7]>fildata</span>="variable" </p>
                        <p>attribute for element to display error message <span cell-f=[-c2-s16-w7]>filerr</span>="variable" </p>
                    </div>
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s20-w7]>Filter For Array Of Objects</span></p>
                        <p><span cell-f=[-c2-s16-w7]>Declare variable & Array of Objects  in js file of assets/js folder</span></p>

                        <p>attributes for input <span cell-f=[-c2-s16-w7]>filter</span>="variable" & <span cell-f=[-c2-s16-w7]>filtype</span>="variable.key name"</p>
                        <p>attribute for element to display filter data <span cell-f=[-c2-s16-w7]>fildata</span>="variable" </p>
                        <p>attribute for element to display error message <span cell-f=[-c2-s16-w7]>filerr</span>="variable" </p>
                    </div>
                </div>
            </div>
         
            <div cell-c=[-do-l20-t20-m20-s20] class="result">
                <div cell-Q=[-q-ct] class="append-col"></div>
                <h2>Two Way Binding</h2>
                <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                    <input cell-tw=[-tw0:]>
                    <div cell-tw=[-tb0:] class=""></div>
                </div>
                <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                    <input cell-tw=[-tw1:]>
                    <div cell-tw=[-tb1:] class=""></div>
            
                    <input cell-tw=[-tw2:] type="text" value="">
                    <div cell-tw=[-tb2:] class="input"></div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                        <xmp>
                            <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                                <input cell-tw=[-tw0:]>
                                <div cell-tw=[-tb0:] class=""></div>
                            </div>
                            <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                                <input cell-tw=[-tw1:]>
                                <div cell-tw=[-tb1:] class=""></div>
                        
                                <input cell-tw=[-tw2:] type="text" value="">
                                <div cell-tw=[-tb2:] class="input"></div>
                            </div>
                        </xmp>
                        </pre>
                    </div>
                </div>
                <h2>Two Way Binding With Variable</h2>
                <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                    <input tway="tex">
                    <div class="" innerHtml="tex"></div>
                    <input tway="tex1">
                    <div class="" innerHtml="tex1"></div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                        <xmp>
                            <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                                <input tway="tex">
                                <div class="" innerHtml="tex"></div>
                                <input tway="tex1">
                                <div class="" innerHtml="tex1"></div>
                            </div>
                        </xmp>
                        </pre>
                    </div>
                </div>
                <h2>Two Way Binding With Filter search</h2>
                <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                    <h4>Filter search For Array Of String Values</h4>
                    <input type="text" name="city" list="cityname" filter="namesArr" filType="arr">
                    <div class="" filData="namesArr"></div>
                    <div class="" filErr='namesArr'></div>
                    <h4>Filter search For Array Of Objects</h4>
                    <input type="text" name="city" list="cityname" filter="fullName" filType="element.lastName">
                    <div class="" filData="fullName"></div>
                    <div class="" filErr='fullName'></div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                        <xmp>
                            <div cell-cm=[-bo5(4)-bg5-ra10-pa15] class="tway">
                                <h4>Filter search For Array Of String Values</h4>
                                <input type="text" name="city" list="cityname" filter="namesArr" filType="arr">
                                <div class="" filData="namesArr"></div>
                                <div class="" filErr='namesArr'></div>
                                <h4>Filter search For Array Of Objects</h4>
                                <input type="text" name="city" list="cityname" filter="fullName" filType="element.lastName">
                                <div class="" filData="fullName"></div>
                                <div class="" filErr='fullName'></div>
                            </div>
                        </xmp>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


