<div class="content">
    <div class="title-col">
        <div cell-Q=[-q-ct] class=" ">
            <div class="text">
                <p cell-p=[-b5] cell-f=[-s25-w7-c2-f5] cell-ts=[-br5] cell-t=[-c]>InnerText
                </p>
            </div>
        </div>
    </div>
    <div class="title-content">
        <div cell-Q=[-q] class="event">
            <div cell-c=[-c20] cell-f=[-s12-w9] class="values">
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>
                </p>
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s16-w7]>Declare variable in js file of assets/js folder</span></p>
                        <p><span cell-f=[-c2-s16-w7]>innerText</span>="variable" </p>
                    </div>
                </div>
            </div>
         
            <div cell-c=[-do-l20-t20-m20-s20] class="result">
                <div cell-Q=[-q-ct] class="append-col"></div>
                <div cell-m=[-t45] class="col-details">
                    <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                        <div cell-f=[-s25-c4-w9] class="" innerText="inner"></div>
                    </div>
                </div>
                <div cell-m=[-t45] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <div cell-f=[-s25-c4-w9] class="" innerText="inner"></div>
                            </div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

