<div class="content">
    <div class="title-col">
        <div cell-Q=[-q-ct] class=" ">
            <div class="text">
                <p cell-p=[-b5] cell-f=[-s25-w7-c2-f5] cell-ts=[-br5] cell-t=[-c]>vc-click
                </p>
            </div>
        </div>
    </div>
    <div class="title-content">
        <div cell-Q=[-q] class="event">
            <div cell-c=[-c20] cell-f=[-s12-w9] class="values">
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s16-w7]>Declare variables in js file of assets/js folder</span></p>
                        <p cell-f=[-c2-s16-w7]>For click action<span cell-f=[-c4-s20-w7]>vc-click</span> and for className to change dynamicaly on click <span cell-f=[-c4-s20-w7]>vc</span></p>
                    </div>
                </div>
            </div>

            <div cell-c=[-do-l20-t20-m20-s20] class="result">
                <h2>Class Binding With Click Event For Element</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                    <button vc-click="d=!d;text=d?'about':'contact'" vc="className=d?'red':'blue'">about</button>
                    <div cell-f=[-s25-w9] cell-vr=[-hb] vc="className=d?'blue':'red'"> $that$ = $a$ , $was$ = $c=d$ And
                        $that$ =
                        $b$
                    </div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <button vc-click="d=!d;text=d?'about':'contact'" vc="className=d?'red':'blue'">about</button>
                                <div cell-f=[-s25-w9] cell-vr=[-hb] vc="className=d?'blue':'red'"> $that$ = $a$ , $was$ = $c=d$ And $that$ =
                                    $b$
                                </div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>Class Binding With Click Event For Multiple Elements</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                    <button vc-click="e=!e;text=e?'about':'contact'" vc="className=e?'red':'blue'">about</button>
                    <div cell-f=[-s25-w9-c2]> <span cell-f=[-s35-w9-c4] cell-vr=[-hb]
                            vc="className=e?'blue':'red'">$that$</span> =
                        <span cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'red':'blue'">$a$</span> , <span
                            cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'blue':'red'">$was$</span> = <span
                            cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'red':'blue'">$c$</span> And <span
                            cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'blue':'red'">$that$</span> =
                        <span cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'red':'blue'">$b$</span>
                    </div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <button vc-click="e=!e;text=e?'about':'contact'" vc="className=e?'red':'blue'">about</button>
                                <div cell-f=[-s25-w9-c2]> <span cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'blue':'red'">$that$</span> =
                                    <span cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'red':'blue'">$a$</span> , <span cell-f=[-s35-w9-c4]
                                        cell-vr=[-hb] vc="className=e?'blue':'red'">$was$</span> = <span cell-f=[-s35-w9-c4] cell-vr=[-hb]
                                        vc="className=e?'red':'blue'">$c$</span> And <span cell-f=[-s35-w9-c4] cell-vr=[-hb]
                                        vc="className=e?'blue':'red'">$that$</span> =
                                    <span cell-f=[-s35-w9-c4] cell-vr=[-hb] vc="className=e?'red':'blue'">$b$</span>
                                </div>
                            </div>
                        </pre>
                    </div>
                </div>
                <h2>Binding Variable As Inner Html On Click</h2>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                    <button vc-click="g=!g;text=g?'about':'contact'">about</button>
                    <div class="" innerText="text=g?'about':'contact'"></div>
                </div>
                <div cell-m=[-t15] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <button vc-click="g=!g;text=g?'about':'contact'">about</button>
                                <div class="" innerText="text=g?'about':'contact'"></div>
                            </div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
