<div cell-pa=[-pa10:-cn] class="page-sec">
  <div cell-bg=[-c2] cell-w=[-w.100] class="header">
    <div cell-Q=[-q-cw-l]>
      <p cell-f=[-s35-c5-w9]><img src="https://res.cloudinary.com/veraion9/image/upload/v1657018561/i2/logo-blue.png"></p>
    </div>
  </div>
  <div cell-c='[-c20]' class="cell-c">
    <div cell-sl='[-aa1:-da5(5)-la7(7)-ta9(9)-ma11(11)-sa20(20)-df1(1)-lf1(1)-tf1(1)-mf1(1)-sf1(1)]' class="as-slide">
      <div cell-Q='[-q-sa] cell-p=[-p2]' class="">
        <button cell-f='[-s15-c4-w9-f1]' class="btn as-left-open">Menu</button>
        <button cell-f='[-s15-c4-w9-f1]' class="btn as-right-open">List</button>
      </div>
      <div cell-Q='[-q]' class="">
        <div cell-sl='[-lo]' cell-bg='[-c4]' class=" ">
          <div cell-t='[-r]' class="">
            <button class="btn as-left-close">X</button>
          </div>
          <div class="menu">
            <div class="list">
              <p><a href="#" routerLink="/cdn">CDN Links</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-c">cell-c</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-q">cell-Q</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cp">cell-Q Column Positions</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-w">cell-w</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/wp">cell-Q width Positions</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-h">cell-h</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-p">cell-p</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-m">cell-m</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-d">cell-d</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-g">cell-G</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-t">cell-t</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-ts">cell-ts</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-bs">cell-bs</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-f">cell-f</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-b">cell-b</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-r">cell-r</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-bg">cell-bg</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-o">cell-o</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-ta">cell-ta</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-dw">cell-dw</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-a">cell-a</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/normal">cell-sl(ns)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/absolute">cell-sl(as)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/responsive">cell-sl(rs)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/nested">cell-sl(nest)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-tb">cell-tb</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-sm">cell-sm</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-ap">cell-ap</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-pa">cell-pa</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-po">cell-po</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/input">cell-in(input)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/icon-input">cell-in(Icon Input)</a></p>
            </div>
            <div class="list">
              <p><a href="#">cell-in(Select Box)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/icon-select">cell-in(Icon Select Box)</a></p>
            </div>
            <div class="list">
              <p><a href="#">cell-in(Text Area)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/check">cell-in(Check Box)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/radio">cell-in(Radio)</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-mo">cell-mo</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-fl">cell-fl</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-gr">cell-gr</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-pc">cell-pc</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-an">cell-an</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-ss">cell-ss</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-wz">cell-wz</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-bu">cell-bu</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-tg">cell-tg</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-pi">cell-Pi</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-pb">cell-Pb</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-rm">cell-Rm</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-cm">cell-Cm</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-nv">cell-Nv</a></p>
            </div>
          </div>
        </div>
        <div cell-sl='[-m]' cell-bg='[-c2]' cell-c='[-c20]' cell-p='[-p25]' class="column">
          <div cell-c='[-c20]' class="content-sec">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div cell-sl='[-ro]' cell-bg='[-c1]'  class="column">
          <div cell-t='[-l]' class="">
            <button class="btn as-right-close">X</button>
          </div>
          <div cell-h=[-h2030] class="menu">
            <div class="list">
              <p><a href="#" routerLink="/inner-text">Inner Text</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-vr">cell-vr</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/vc-click">vc-click</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/two-way">Two-way Binding</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-if">cell-if</a></p>
            </div>
            <div class="list">
              <p><a href="#" routerLink="/cell-dt">cell-dt</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>