<div class="content">
    <div class="title-col">
        <div cell-Q=[-q-ct] class=" ">
            <div class="text">
                <p cell-p=[-b5] cell-f=[-s25-w7-c2-f5] cell-ts=[-br5] cell-t=[-c]>cell-vr
                </p>
            </div>
        </div>
    </div>
    <div class="title-content">
        <div cell-Q=[-q] class="event">
            <div cell-c=[-c20] cell-f=[-s12-w9] class="values">
               
                <div cell-Q=[-q-sb] class="text-area">
                    <div cell-c=[-da-la-t10-m20] class="text-col">
                        <p><span cell-f=[-c2-s16-w7]>Declare variables in js file of assets/js folder</span></p>
                        <p cell-f=[-c2-s16-w7]>Call The Variable with <span cell-f=[-c4-s20-w7]>$variable$</span> by providing <span cell-f=[-c4-s20-w7]>cell-vr = [-hb]</span>as attribute for the element</p>
                    </div>
                </div>
            </div>
         
            <div cell-c=[-do-l20-t20-m20-s20] class="result">
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>Variable Binding Inside Html
                </p>
                <div cell-Q=[-q-ct] class="append-col"></div>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                    <div cell-f=[-s25-w9-c2] cell-vr=[-hb]> $that$ = $a$ , $was$ = $c=d$ And $that$ = $b$
                    </div>
                </div>
                <div cell-m=[-t45] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <div cell-f=[-s25-w9-c2] cell-vr=[-hb]> $that$ = $a$ , $was$ = $c=d$ And $that$ = $b$
                                </div>
                            </div>
                        </pre>
                    </div>
                </div>
                <p cell-p=[-t5-b2] cell-f=[-s18-w7-c2-f5] cell-t=[-c]>Variable Binding Inside Html With Individual Referancess
                </p>
                <div cell-Q=[-q-ct] class="append-col"></div>
                <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                    <div cell-f=[-s25-w9-c2]> <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$that$</span> = <span cell-f=[-s35-w9-c4]
                            cell-vr=[-hb]>$a$</span> , <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$was$</span> = <span
                            cell-f=[-s35-w9-c4] cell-vr=[-hb]>$c$</span> And <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$that$</span> =
                        <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$b$</span>
                    </div>
                </div>
                <div cell-m=[-t45] class="code-accord">
                    <div class="code-text">
                        <p cell-f=[-s15-w7-c2-f5] cell-t=[-dc]>Get Code</p>
                    </div>
                    <div class="code-content">
                        <pre class="pre">
                            <div class="" cell-cm=[-bo5(4)-bg5-ra10-pa15] cell-m=[-mt15]>
                                <div cell-f=[-s25-w9-c2]> <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$that$</span> = <span cell-f=[-s35-w9-c4]
                                        cell-vr=[-hb]>$a$</span> , <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$was$</span> = <span
                                        cell-f=[-s35-w9-c4] cell-vr=[-hb]>$c$</span> And <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$that$</span> =
                                    <span cell-f=[-s35-w9-c4] cell-vr=[-hb]>$b$</span>
                                </div>
                            </div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


